/* =======================Common Css=====================>> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1410px;
    margin: 0 auto;
}
.common__btn{
    display: inline-block;
    padding: 14px 28px;
    font-weight: var(--semi-bold);
    background-color: transparent;
    border-radius: 18px;
    color:var(--secondary-color);
    border: 1px solid var(--primary-color);
    text-transform: capitalize;
    font-family: var(--nunito);
    transition: all linear 0.3s;
}
.common__btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.common__heading{
    font-family: var(--popins);
    font-size: var(--font-heading);
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
}
.common__peragraph{
    font-family: var(--nunito);
    font-size: var(--font-xl);
    font-weight: var(--normal);
    line-height: 200%;
    color: var(--secondary-color);
    text-transform: capitalize;
}
:root{
    --popins:'Poppins', sans-serif;
    --open-sans:'Open Sans', sans-serif;
    --nunito:'Nunito', sans-serif;
    --font-xl:18px;
    --font-xxl:28px;
    --fon-ttitle:36px;
    --font-heading:48px;
    --font-large:64px;
    --primary-color:#FF5538;
    --secondary-color:#29313D;
    --normal:400;
    --medum:500;
    --semi-bold:600;
    --bold:700;
    --extrabold:800;
}
/* =======================Common Css=====================>> */


/* =======================navbar Css start=====================>> */
#nav{
    padding: 30px 0;
    position: absolute;
    z-index: 333;
    margin: 0 auto;
    width: 100%;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    transition: all linear 0.3s;
}
.nav__logo:hover{
    transform: scale(1.13);
}
.nav__item{
    display: flex;
    column-gap: 48px;
}
/* .nav__list{
    
} */
.nav__list-name{
    font-size: var(--font-xl);
    text-transform: capitalize;
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    font-family: var(--open-sans);
    transition: all linear 0.3s;
    position: relative;
}
.nav__list-name:hover{
    color: var(--primary-color);
    /* transition: all linear 0.3s;    hover::affter er pore kake tranistion dibo */
}
.nav__list-name::after{
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
}
.nav__list-name:hover::after{
    visibility: visible;
}

/* =======================navbar Css end=======================>> */


/* =======================banner Css=====================>> */
#banner{
    padding: 293px 0 297px 0;
    background-color: #FFDCD8;
    /* position: relative; */
    top: 0;
    width: 100%;
}
.banner__content{
    position: relative;
}
.banner__animation{
    position: absolute;
    height: 121px;
    width: 121px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #FFABBA;
    border-radius: 50%;
    animation: round 5s  linear infinite;
}
@keyframes round{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.banner__animation::after{
    position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background-color: #FFABBA;
    border-radius: 50%;
    top: 10px;
    left: 0;
}
.banner__heading{
    width: 771px;
    font-weight: var(--bold);
    font-family: var(--popins);
    font-size: var(--font-large);
    color: var(--secondary-color);
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
    line-height: 130%;
}
.banner__paragraph{
    font-family: var(--nunito);
    font-size: var(--font-xl);
    line-height: 200%;
    padding-top: 24px;
    padding-bottom: 44px;
    font-weight: var(--normal);
    color: var(--secondary-color);
    width: 547px;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
}
.banner__btn{
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
.banner__shap1{
    position: absolute;
    top: 0;
    left: 0;
}
.banner__shap2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner__shap3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner__shap4{
    position: absolute;
    right: 40px;
    bottom: 0;
}
.banner__shap5{
    position: absolute;
    left: -115px;
    top: 0;
}
.banner__shap7{
    position: absolute;
    left: 0;
    bottom: -200px;
}
/* =======================banner Css=====================>> */


/* =======================service Css=====================>> */
#service{
    position: relative;
    margin-top: -167px;
    /* top: -50%;
    transform: translateY(-50%); */
}
.service__wrapper{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.service__item{
    width: 450px;
    background-color:#ffff;
    padding: 40px 25px 40px 30px;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
}
.service__item-title{
    font-family: var(--popins);
    font-size: var(--font-xxl);
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    padding-top: 34px;
    padding-bottom: 16px;
    text-transform: capitalize;
}
.service__item-content{
    font-family: var(--nunito);
    font-weight: var(--normal);
    font-size: var(--font-xl);
    color: var(--secondary-color);
    line-height: 200%;
    text-transform: capitalize;
}
/* =======================service Css=====================>> */


/* =======================Common Css=====================>> */
#experience{
    padding-top: 82px;
    position: relative;
}
.experience__title{
    font-family: var(--popins);
    font-size: 20px;
    font-weight: var(--medum);
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.common__heading--width{
    width: 450px;
    line-height: 140%;
    text-transform: capitalize;
}
.experience__wrapper{
    display: flex;
    align-items: center;
}
.experience__wrapper-left{
    width: 45%;
    height: 521px;
    background-color: rebeccapurple;
}
.experience__wrapper-right{
    width: 55%;
    height: 624px;
    background-color: #FBF3F0;
    padding:100px 150px 100px 150px;
}
.experience__left-box{
    width: 110%;
    height: 100%;
    background-color: blue;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
.experience__left-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.experience__right-content{
    font-family: var(--popins);
    font-size: var(--fon-ttitle);
    font-weight: var(--semi-bold);
    line-height: 140%;
    text-transform: capitalize;
    padding-bottom: 20px;
    width: 570px;
}
.common__peragraph--width{
    width: 501px;
    margin-bottom: 48px;
}
.experience__shape{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* =======================Common Css=====================>> */


/* =======================Common Css=====================>> */

/* =======================Common Css=====================>> */



