/* =======================Common Css=====================>> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1410px;
    margin: 0 auto;
}

:root{
    --popins:'Poppins', sans-serif;
    --open__sans:'Open Sans', sans-serif;
    --nunito:'Nunito', sans-serif;
    --font__xl:18px;
    --font__xxl:28px;
    --fon__ttitle:36px;
    --font__heading:48px;
    --font__large:64px;
    --primary__color:#FF5538;
    --secondary__color:#29313D;
}
/* =======================Common Css=====================>> */


/* =======================Common Css=====================>> */

/* =======================Common Css=====================>> */


/* =======================Common Css=====================>> */

/* =======================Common Css=====================>> */


/* =======================Common Css=====================>> */

/* =======================Common Css=====================>> */


/* =======================Common Css=====================>> */

/* =======================Common Css=====================>> */


/* =======================Common Css=====================>> */

/* =======================Common Css=====================>> */



