/* =======================Common Css=====================>> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1410px;
    margin: 0 auto;
}
.common__btn{
    display: inline-block;
    padding: 14px 28px;
    font-weight: var(--semi-bold);
    background-color: transparent;
    border-radius: 18px;
    color:var(--secondary-color);
    border: 1px solid var(--primary-color);
    text-transform: capitalize;
    font-family: var(--nunito);
    transition: all linear 0.3s;
}
.common__btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.common__heading{
    font-family: var(--popins);
    font-size: var(--font-heading);
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    text-transform: capitalize;
}
.common__peragraph{
    font-family: var(--nunito);
    font-size: var(--font-xl);
    font-weight: var(--normal);
    line-height: 200%;
    color: var(--secondary-color);
    text-transform: capitalize;
}
:root{
    --popins:'Poppins', sans-serif;
    --open-sans:'Open Sans', sans-serif;
    --nunito:'Nunito', sans-serif;
    --font-xl:18px;
    --font-xxl:28px;
    --fon-ttitle:36px;
    --font-heading:48px;
    --font-large:64px;
    --primary-color:#FF5538;
    --secondary-color:#29313D;
    --normal:400;
    --medum:500;
    --semi-bold:600;
    --bold:700;
    --extrabold:800;
}
/* =======================Common Css=====================>> */


/* =======================navbar Css start=====================>> */
#nav{
    padding: 30px 0;
    position: absolute;
    z-index: 333;
    margin: 0 auto;
    width: 100%;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    transition: all linear 0.3s;
}
.nav__logo:hover{
    transform: scale(1.13);
}
.nav__item{
    display: flex;
    column-gap: 48px;
}
/* .nav__list{
    
} */
.nav__list-name{
    font-size: var(--font-xl);
    text-transform: capitalize;
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    font-family: var(--open-sans);
    transition: all linear 0.3s;
    position: relative;
}
.nav__list-name:hover{
    color: var(--primary-color);
    /* transition: all linear 0.3s;    hover::affter er pore kake tranistion dibo */
}
.nav__list-name::after{
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
}
.nav__list-name:hover::after{
    visibility: visible;
}

/* =======================navbar Css end=======================>> */


/* =======================banner Css=====================>> */
#banner{
    padding: 293px 0 297px 0;
    background-color: #FFDCD8;
    /* position: relative; */
    top: 0;
    width: 100%;
}
.banner__content{
    position: relative;
}
.banner__animation{
    position: absolute;
    height: 121px;
    width: 121px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #FFABBA;
    border-radius: 50%;
    animation: round 5s  linear infinite;
}
@keyframes round{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.banner__animation::after{
    position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    background-color: #FFABBA;
    border-radius: 50%;
    top: 10px;
    left: 0;
}
.banner__heading{
    width: 771px;
    font-weight: var(--bold);
    font-family: var(--popins);
    font-size: var(--font-large);
    color: var(--secondary-color);
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
    line-height: 130%;
}
.banner__paragraph{
    font-family: var(--nunito);
    font-size: var(--font-xl);
    line-height: 200%;
    padding-top: 24px;
    padding-bottom: 44px;
    font-weight: var(--normal);
    color: var(--secondary-color);
    width: 547px;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
}
.banner__btn{
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
.banner__shap1{
    position: absolute;
    top: 0;
    left: 0;
}
.banner__shap2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner__shap3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner__shap4{
    position: absolute;
    right: 40px;
    bottom: 0;
}
.banner__shap5{
    position: absolute;
    left: -115px;
    top: 0;
}
.banner__shap7{
    position: absolute;
    left: 0;
    bottom: -200px;
}
/* =======================banner Css=====================>> */


/* =======================service Css=====================>> */
#service{
    position: relative;
    margin-top: -167px;
    /* top: -50%;
    transform: translateY(-50%); */
}
.service__wrapper{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.service__item{
    width: 450px;
    background-color:#ffff;
    padding: 40px 25px 40px 30px;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
}
.service__item-title{
    font-family: var(--popins);
    font-size: var(--font-xxl);
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    padding-top: 34px;
    padding-bottom: 16px;
    text-transform: capitalize;
}
.service__item-content{
    font-family: var(--nunito);
    font-weight: var(--normal);
    font-size: var(--font-xl);
    color: var(--secondary-color);
    line-height: 200%;
    text-transform: capitalize;
}
/* =======================service Css=====================>> */


/* =======================Common Css=====================>> */
#experience{
    padding-top: 82px;
    position: relative;
}
.experience__title{
    font-family: var(--popins);
    font-size: 20px;
    font-weight: var(--medum);
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.common__heading--width{
    width: 450px;
    line-height: 140%;
    text-transform: capitalize;
}
.experience__wrapper{
    display: flex;
    align-items: center;
}
.experience__wrapper-left{
    width: 45%;
    height: 521px;
    background-color: rebeccapurple;
}
.experience__wrapper-right{
    width: 55%;
    height: 624px;
    background-color: #FBF3F0;
    padding:100px 150px 100px 150px;
}
.experience__left-box{
    width: 110%;
    height: 100%;
    background-color: blue;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
.experience__left-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.experience__right-content{
    font-family: var(--popins);
    font-size: var(--fon-ttitle);
    font-weight: var(--semi-bold);
    line-height: 140%;
    text-transform: capitalize;
    padding-bottom: 20px;
    width: 570px;
}
.common__peragraph--width{
    width: 501px;
    margin-bottom: 48px;
}
.experience__shape{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* =======================Common Css=====================>> */


/* =======================work css=====================>> */
#work{
    padding: 120px 0;
    position: relative;
}
/* .work__content{
    display: flex;

} */
.work__title{
    font-family: var(--popins);
    font-size: 20px;
    font-weight: var(--medum);
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.common__heading--modifi{
    width: 693px;
    line-height: 140%;
    margin-top: 10px;
}
.work__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.work__app{
    display: flex;
    column-gap: 25px;
    margin-top: 60px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.work__app-left{
    height: 458px;
    width: 575px;
}
.work__app-right{
    height: 458px;
    width: 810px;
}
.work__image{
    width: 100%;
    height: 331px;
}

.work__image img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.work__image-content{
    width: 100%;
    height: 127px;
    box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.06);
    padding: 30px 385px 30px 30px;
}
.work__image-title{
    font-family: var(--popins);
    font-size: var(--font-xxl);
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.work__image-btn{
    font-family: var(--nunito);
    font-size: var(--font-xl);
    font-weight: var(--normal);
    color: var(--primary-color);
    display: inline-block;
}
.work__shape-top{
    position: absolute;
    top: -215px;
    left: 0;
    z-index: -1;
}
.work__shape-bottom{
    position: absolute;
    bottom: 45px;
    right: 113px;
}

/* =======================work css=====================>> */

/* =======================count Css=====================>> */
#count{
    padding: 100px 0;
    background-color: #FDF9F8;
}
.count__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    row-gap: 30px;
}
.count__left{
    width: 40%;
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.count__box{
    width: 259px;
    height: 230px;
    background-color: white;
    padding: 74px 60px;
    text-align: center;
}
.count__right{
    width: 50%;
}
.count__box-title{
    font-family: var(--popins);
    font-size: 40px;
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
}
.count__box-content{
    font-family: var(--nunito);
    font-size: var(--font-xl);
    font-weight: var(--normal);
    color: var(--secondary-color);
    margin-top: 10px;
}
.common__heading--count{
    width: 570px;
    line-height: 140%;
}
.common__peragraph--count{
    width: 550px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* =======================count Css=====================>> */

/* =======================company Css=====================>> */
#company{
    padding: 120px 0;
}
.common__heading--comapny{
    width: 849px;
    margin: 0 auto;
    text-align: center;
    line-height: 140%;
    margin-bottom: 60px;
}
.company__logo{
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}
.company__logo--box{
    padding: 53px 53px 53px 35px;
    background-color: #FDF9F8;
}
/* =======================company Css=====================>> */

/* =======================customer Css=====================>> */
#customer{
    padding: 120px;
    background-color: #FDF9F8;
    position: relative;
}
.customer__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
}
.customer__left{
    width: 50%;
    border-color: #29313D;
}
.icon__wrapper{
    display: flex;
    column-gap: 28px;
}
.customer__angle-content h5{
    font-family: var(--open-sans);
    font-size: var(--font-xxl);
    font-weight: var(--bold);
    padding-right: 40px;
    text-transform: capitalize;
}
.customer__box{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: #C4C4C4;
    margin-top: 60px;
}
.customer__box-icon{
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 40%;
    color: white;
    font-weight: var(--bold);
}
.customer__left .common__peragraph{
    margin-top: 60px;
    margin-bottom: 60px;
}
.customer__angle{
    display: flex;
    column-gap: 8px;
    text-align: center;
    align-items: center;
}
.customer__angle-box{
    width: 64px;
    height: 64px;
    background-color: #FFDDD7;
    border-radius: 8px;
    transition: all linear 0.3s;
}
.customer__angle-box:hover{
    background-color: var(--primary-color);
}
/* .customer__angle-box i{
    color: red;
    font-weight: bold;
} */
.customer__right{
    width: 50%;
}
.customer__right-box{
    height: 557px;
    width: 501px;
}
.customer__right-box img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.customer_shape{
    position: absolute;
    left: 10px;
    bottom: 10%;
}
/* =======================customer Css=====================>> */

/* =======================talk Css=====================>> */
#talk{
    padding: 120px 0;
    background-color: #FFD7C8;
    position: relative;
    z-index: 999;
}
.talk__titel{
    font-family: var(--font-xl);
    font-size: var(--font-xl);
    color: var(--secondary-color);
    font-weight: var(--normal);
    margin-bottom: 10px;
    position: relative;
}
.talk__content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 72px;
}
.talk__titel::after{
    position: absolute;
    content: " ";
    height: 1px;
    width: 100%;
    bottom: -122px;
    left: 0;
    background-color:var(--secondary-color);
    opacity: 0.2;
}
.shape{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
/* =======================talk Css=====================>> */


/* =======================footer Css=====================>> */
#footer{
    padding: 140px 0 57px 0;
    background-color: #fff;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
}
.footer_wrapper-left{
    width: 479px;
}
.footer_wrapper-right{
    display: flex;
    column-gap: 160px;
    width: 750pxpx;
}
.common__peragraph--padding{
    margin-top: 44px;
}
.footer__menu-titel{
    font-family: var(--popins);
    font-size: 24px;
    font-weight: var(--semi-bold);
    color: var(--secondary-color);
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer__item{
    padding-bottom: 30px;
}
/* .footer__item:hover{
    color: var(--popins);
} */
.footer__item:last-child{
    padding-bottom: 0px;
}
.footer__list{
    font-family: var(--nunito);
    font-weight: var(--semi-bold);
    font-size: var(--font-xl);
    color: var(--secondary-color);
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.footer__list:hover{
    color: var(--primary-color);
}

/* =======================footer Css=====================>> */

/* =======================copywrite Css=====================>> */
.copywrite{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.copywrite__right{
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}
/* =======================copy write Css=====================>> */

/* =======================Common Css=====================>> */
/* =======================Common Css=====================>> */



